<mat-card class="example-card rounded-corner drop-shadow">
  <mat-card-header>
    <mat-card-title>{{
      recommendation!.book.volumeInfo.title | slice: 0:50
    }}</mat-card-title>
    <mat-card-subtitle>
      <div
        *ngFor="
          let author of recommendation!.book.volumeInfo.authors | slice: 0:2
        "
      >
        {{ author }}
      </div>
    </mat-card-subtitle>
  </mat-card-header>
  <img
    mat-card-image
    class="image"
    [src]="getThumbnail(recommendation!.book.volumeInfo.imageLinks)"
    alt="cover"
  />
  <mat-card-actions>
    <button
      mat-icon-button
      aria-label="recommendation"
      matTooltip="recommend"
      [disabled]="isAlreadyRecommended(recommendation!)"
      (click)="recommendBook(recommendation!.book)"
    >
      <mat-icon
        [matBadge]="getNumberOfRecommendations(recommendation!)"
        matBadgePosition="before"
        >thumb_up</mat-icon
      >
    </button>
    <button
      mat-icon-button
      aria-label="remove recommendation"
      matTooltip="remove recommendation"
      [disabled]="!isAlreadyRecommended(recommendation!)"
      (click)="unRecommendBook(recommendation!.book)"
    >
      <mat-icon>thumb_down</mat-icon>
    </button>
    <button
      mat-icon-button
      aria-label="favourite"
      matTooltip="add to Favourite"
      (click)="addToFavourite(recommendation!.book)"
    >
      <mat-icon>favorite</mat-icon>
    </button>
  </mat-card-actions>
</mat-card>
