<div class="container">
  <div class="background">
    <mat-card class="drop-shadow card">
      <div class="card-content">
        <form [formGroup]="searchForm" class="form">
          <div>
            <img
              src="../../../assets/books-icon.svg"
              class="card-icon"
              alt="logo"
            />
          </div>
          <mat-form-field class="input-field m-1" appearance="outline">
            <mat-label>Search for a book here</mat-label>
            <input
              matInput
              type="text"
              formControlName="searchQuery"
              placeholder="Search for a book here"
            />
            <button
              mat-button
              *ngIf="searchForm.value.searchQuery"
              matSuffix
              mat-icon-button
              aria-label="Clear"
              (click)="searchForm.patchValue({ searchQuery: '' })"
            >
              <mat-icon>close</mat-icon>
            </button>
          </mat-form-field>
          <br />
          <button
            class="m-1 btn"
            mat-raised-button
            color="primary"
            (click)="search()"
          >
            Search
          </button>
        </form>
      </div>
    </mat-card>
  </div>
</div>
