<div class="container">
  <div class="background">
    <mat-card class="drop-shadow card m-2">
      <div class="card-content">
        <div class="align-center">
          <img
            src="../../../assets/books-icon.svg"
            class="card-icon"
            alt="logo"
          />
        </div>
        <div>
          <strong><h1>Welcome to BOOK APP</h1></strong>
        </div>
        <div>
          <p>
            Book App is Single Page Web Application powered by Angular, Spring
            Boot Microservices and polyglot persistence with MongoDB along with
            MySQL databases running on docker containers.
          </p>
          <p>
            Book App allows users to search and retrieve information about books
            using Google Book API, and add their favourite books to a personal
            list. User can also recommend books to other users so that they find
            something good to read when the choice is humongous.
          </p>
        </div>
        <div style="text-align: right">
          <h3>TEAM 2 : Nanthini, Laribok & Rajdeep</h3>
        </div>
      </div>
    </mat-card>
  </div>
</div>
