<mat-card class="example-card rounded-corner drop-shadow">
  <mat-card-header>
    <mat-card-title>{{ book!.volumeInfo.title | slice: 0:50 }}</mat-card-title>
    <mat-card-subtitle>
      <div *ngFor="let author of book!.volumeInfo.authors | slice: 0:2">
        {{ author }}
      </div>
    </mat-card-subtitle>
  </mat-card-header>
  <img
    mat-card-image
    class="image"
    [src]="getThumbnail(book!.volumeInfo.imageLinks)"
    alt="cover"
  />
  <mat-card-actions>
    <button
      mat-icon-button
      aria-label="recommendation"
      matTooltip="recommend"
      (click)="recommendBook(book!)"
    >
      <mat-icon>thumb_up_off_alt</mat-icon>
    </button>

    <button
      mat-icon-button
      aria-label="favourite"
      matTooltip="add to Favourite"
      (click)="addToFavourite(book!)"
      *ngIf="type !== 'favourite'"
    >
      <mat-icon>favorite_border</mat-icon>
    </button>
    <button
      mat-icon-button
      aria-label="favourite"
      matTooltip="Remove  from Favourite"
      (click)="removeFromFavourite(book!)"
      *ngIf="type === 'favourite'"
    >
      <mat-icon color="primary">favorite</mat-icon>
    </button>
  </mat-card-actions>
</mat-card>
