.mat-card-header {
  min-height: 7rem;
  max-height: 7rem;
}

.image {
  object-fit: cover;
}

@media (min-width: 600px) {
  .image {
    min-height: 25rem;
    max-height: 25rem;
    object-fit: cover;
  }
}

@media (min-width: 768px) {
  .image {
    min-height: 20rem;
    max-height: 20rem;
    object-fit: cover;
  }
}
