.background {
  display: grid;
  width: 100%;
  height: 100%;
  background-color: #673ab7;
  background-image: url("./../../../assets/glamorous.svg");
  grid-row: 1 / 1;
  z-index: 0;
}

.card {
  position: relative;
  z-index: 1;
  justify-self: center;
  align-self: center;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.card-content {
  min-width: 100%;
  justify-self: center;
  align-self: center;
}

.input-field {
  min-width: 300px;
}

.m-1 {
  margin: 1rem;
}

.text-center {
  text-align: center;
}

.card-icon {
  width: 100px;
  height: auto;
}

.btn {
  padding-left: 2rem;
  padding-right: 2rem;
}

@media (min-width: 780px) {
  .card-content {
    min-width: 400px;
    justify-self: center;
    align-self: center;
  }
}
