<h2 mat-dialog-title>{{ data.title }}</h2>
<mat-dialog-content class="mat-typography">
  <h3>{{ data.message }}</h3>
  <p>
    {{ data.description }}
  </p>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <div *ngFor="let path of data.redirect; let i = index">
    <button
      mat-button
      mat-dialog-close
      (click)="redirect(path)"
      *ngIf="i < data.redirect.length"
    >
      {{ data.buttonText[0] }}
    </button>
    <button
      mat-button
      [mat-dialog-close]="true"
      cdkFocusInitial
      *ngIf="i === data.redirect.length - 1"
    >
      {{ data.buttonText[1] }}
    </button>
  </div>
</mat-dialog-actions>
