<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span matTooltip="dashboard"
      ><a routerLink="/dashboard/home"> Book App</a></span
    >

    <span class="example-spacer"></span>
    <form
      [formGroup]="searchForm"
      class="form search-row-1"
      (ngSubmit)="search()"
    >
      <div>
        <mat-form-field color="white" appearance="outline">
          <mat-label>Search for a book here</mat-label>
          <input
            matInput
            type="text"
            formControlName="searchQuery"
            placeholder="Search for a book here"
          />
        </mat-form-field>
      </div>
    </form>
    <button
      *ngIf="isLoggedIn()"
      mat-icon-button
      aria-label="favourite"
      matTooltip="favourite"
      routerLink="/dashboard/favourite"
    >
      <mat-icon>favorite</mat-icon>
    </button>
    <button
      *ngIf="isLoggedIn()"
      mat-icon-button
      aria-label="recommendation"
      matTooltip="recommendation"
      routerLink="/dashboard/recommendation"
    >
      <mat-icon>recommend</mat-icon>
    </button>
    <button
      *ngIf="isLoggedIn()"
      mat-icon-button
      aria-label="profile"
      matTooltip="profile"
      routerLink="/dashboard/profile"
    >
      <mat-icon>person</mat-icon>
    </button>
    <button
      *ngIf="!isLoggedIn()"
      mat-icon-button
      aria-label="register"
      matTooltip="register"
      routerLink="/register"
    >
      <mat-icon>add_box</mat-icon>
    </button>
    <button
      *ngIf="!isLoggedIn()"
      mat-icon-button
      aria-label="login"
      matTooltip="login"
      routerLink="/login"
    >
      <mat-icon>login</mat-icon>
    </button>
    <button
      *ngIf="isLoggedIn()"
      mat-icon-button
      aria-label="logout"
      matTooltip="logout"
      (click)="handleLogout()"
    >
      <mat-icon>logout</mat-icon>
    </button>
  </mat-toolbar-row>
  <mat-toolbar-row class="search-row-2">
    <form [formGroup]="searchForm" class="sm-form" (ngSubmit)="search()">
      <div>
        <mat-form-field color="white" class="search-input" appearance="outline">
          <mat-label>Search for a book here</mat-label>
          <input
            matInput
            type="text"
            formControlName="searchQuery"
            placeholder="Search for a book here"
          />
        </mat-form-field>
      </div>
    </form>
  </mat-toolbar-row>
</mat-toolbar>
