<mat-toolbar color="primary">
  <span matTooltip="dashboard"
    ><a routerLink="/dashboard/search"> Book App</a></span
  >
  <span class="example-spacer"></span>
  <button
    *ngIf="isLoggedIn()"
    mat-icon-button
    aria-label="favourite"
    matTooltip="favourite"
    routerLink="/dashboard/favourite"
  >
    <mat-icon>favorite</mat-icon>
  </button>
  <button
    *ngIf="isLoggedIn()"
    mat-icon-button
    aria-label="recommendation"
    matTooltip="recommendation"
    routerLink="/dashboard/recommendation"
  >
    <mat-icon>recommend</mat-icon>
  </button>
  <button
    *ngIf="isLoggedIn()"
    mat-icon-button
    aria-label="profile"
    matTooltip="profile"
    routerLink="/dashboard/profile"
  >
    <mat-icon>person</mat-icon>
  </button>
  <button
    *ngIf="!isLoggedIn()"
    mat-icon-button
    aria-label="register"
    matTooltip="register"
    routerLink="/register"
  >
    <mat-icon>add_box</mat-icon>
  </button>
  <button
    *ngIf="!isLoggedIn()"
    mat-icon-button
    aria-label="login"
    matTooltip="login"
    routerLink="/login"
  >
    <mat-icon>login</mat-icon>
  </button>
  <button
    *ngIf="isLoggedIn()"
    mat-icon-button
    aria-label="logout"
    matTooltip="logout"
    (click)="handleLogout()"
  >
    <mat-icon>logout</mat-icon>
  </button>
</mat-toolbar>
